@media (max-width:1600px) {
    .padding-other {
        padding: 0 8% !important;
    }  
    h1.fill-text {
        transform: translateY(-50%) rotate( 
    -90deg);
        left: -168px;
    }

}
@media (max-width:1441px) {

    .main-banner:before {
        font-size: 290px;
        left: -287px;
    }
    h1.fill-text {
        font-size: 290px !important;
        left: -168px;
    }
    .padding-other {
        padding: 0 5% !important;
    }
   
}
@media (max-width:1367px) {
    .padding-other {
        padding: 0px 3% !important;
    }
    .contri-list-data li {
        font-size: 13px;
    }
    .community-slider button.owl-prev {
        left: -70px;
    }
    .community-slider button.owl-next {
        right: -70px;
    }
    .community-slider button {
        width: 61px !important;
        height: 62px !important;
    }
}
@media (max-width:1281px) {
    h1.fill-text {
        left: -177px;
    }
}
@media (max-width:1200px) {
    .contri-list-data li span:first-child {
        width: 33%;
    }
    h1.fill-text {
        left: -128px;
        font-size: 250px !important;
    }
    .main-banner:before {
        font-size: 250px;
        left: -251px;
    }
    .missio-content {
        margin-left: 0;
    }
    .p-re-0{
        padding-inline: 0;
    }
    .mission-left img {
        width: 100%;
    }
    .missio-content li i {
        margin-right: 15px;
    }
    .missio-content li {
        font-size: 13px;
        padding-bottom: 20px;
        line-height: 27px;
    }
    .nav-center .nav-item .nav-link {
        padding: 15px 15px !important;
    }
    h1.fill-text {
        left: -147px;
    }
}
@media(max-width:1024px){
    h1.fill-text {
        left: -73px;
        font-size: 170px !important;
    }
    .main-banner:before {
        font-size: 170px;
        left: -167px;
    }
    .banner-content h1 {
        padding-bottom: 13%;
        font-size: 35px !important;
        line-height: 40px;
    }
    .nav-center .nav-item .nav-link {
        padding: 15px 5px !important;
        font-size: 14px;
    }
    .navbar-right-btn {
        padding: 7px 8px;
        font-size: 14px;
        margin-left: 15px;
    }
    h1.fill-text {
        left: -86px;
    }
}
@media (max-width:993px) {
    
   
    .count-info h3 {
        width: 248px;
    }
    .community-slider button {
        position: initial;
    }
    .community-slider.owl-theme .owl-nav {
        margin-top: 71px;
    }
}

@media  (max-width:815px) {
    h1.fill-text {
        top: 40%;
        left: -61px;
        font-size: 140px !important;
    }
    .main-banner:before {
        font-size: 140px;
        left: -138px;
        top: 40%;
    }
    .main-banner .owl-nav button {
        width: 81px !important;
        height: 65px !important;
    }
    .banner-content h1 {
        padding-bottom: 13%;
        font-size: 27px !important;
        line-height: 35px;
    }
    .counter-area .section-heading h1 span {
        display: block;
    }
    .foundation-content {
        padding-bottom: 43px;
    }
    .float-responsive {
        display: block;
    }
    .float-responsive .dona-float {
        position: fixed;
        bottom: 20px;
        right: 13px;
        z-index: 999;
    }
    .right-logo{
        display: none;
    }
    .contact-us-main .section-heading p {
        padding: 0;
    }
    
}
@media  (max-width:768px) {
    h1.fill-text {
        left: -14px;
    }
    h1 {
        font-size: 32px !important;
    }
   
    div#navbarSupportedContent {
        position: absolute;
        width: 106%;
        left: -20px;
        background: #fff;
        top: 110%;
        border-top: 1px solid #cccccc8a;
        z-index: 9;
        box-shadow: 0 5px 6px 0 #cccccc7a;
    }
    .nav-center .nav-item {
        text-align: center;
        border-bottom: 1px solid #cccccc8a;
        margin: 0 60px;
    }
    .nav-center .nav-item .nav-link {
        padding: 10px 25px !important;
    }
    .sub-menu {
        left: 0;
        top: 100%;
        width: 100%;
    }
    .main-logo {
        display: none;
    }
    .dropdown-menu .dropdown-item {
        font-size: 12px;
    }
    .right-donate {
        display: none;
    }
    .found-sec {
        padding: 30px 0;
    }
    .responsive-logo{
        display: block;
    }
    .our-mission-area .missio-content h3 {
        margin-top: 35px;
    }
    section.our-mission-area {
        padding: 11px 0;
    }
    a.read-more {
        margin-bottom: 23px;
        display: table;
    }
    .mt-res-0{
        margin-top: 0 !important;
    }

    section.about-banner:before {
        background-size: 28%;
    }
    section.about-banner:after {
        background-size: 28%;
    }
    
    .iner-ceo {
        text-align: center;
        width: 100%;
    }
    .nav-center li.nav-item.active:after {
        display: none;
    }
    .audit-box {
        flex-direction: column;
    }
    .financial-slider-area {
        overflow: hidden;
    }
    .slider-for .slick-list.draggable {
        padding: 0 !important;
    }
    .audit-box .view-more {
        margin-left: 0;
        margin-top: 30px;
    }
    .logo {
        display: flex;
    }
    section.para-cont {
        padding: 30px 0 0;
    }
    .count-info h3 {
        height: 240px;
        margin: 0;
    }
    .found-sec {
        margin: 50px 0 30px;
    }
    .section-heading h1 {
        margin-bottom: 15px;
    }
  
    .contri-box:before {
        left: 10px;
    }
    .nav-center {
        display: flex;
    }
    .missio-content li br {
        display: none;
    }
    .contri-box p {
        padding-bottom: 1.5rem;
    }
    .contri-box a.navbar-right-btn {
        margin-left: 0;
        margin-top: 0;
    }
    .contri-box {
        margin-bottom: 49px;
    }
    .contri-box h5 {
        margin-bottom: 30px;
    }
    .nam-row-margin {
        margin: 0 !important;
    }
    section.driectors-name {
        padding-top: 0px;
    }
    .name-box:after{
        background: transparent;
    }
    .name-box {
        padding: 30px 0;
        border-bottom: 1px solid #cccc;
    }
    .respon-row-reverse {
        flex-direction: column-reverse;
    }
    .our-mission-area .respon-row-reverse .missio-content h3 {
        margin-top: 31px !important;
    }
    .count-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media  (max-width:767px) {
    h1.fill-text {
        left: -62px;
    }
    #navbarSupportedContent .dropdown-menu{
     display: none !important;
    }
    .para-tab-grid-lis {
        padding: 15px 0;
        margin-bottom: 15px;
    }
    
}
@media (max-width:576px) {
    .found-left .green-af::after {
        left: 15px;
    }
    .found-left .green-af:before {
        left: 15px;
    }
    .found-left .purple-af:before {
        right: 15px;
    }
    .found-left .purple-af:after {
        right: 15px;
    }
    .tab-list-grid{
        display: none;
    }
    .community-slider button {
        width: 41px !important;
        height: 42px !important;
    }
    div#audio-control {
        top: 14px;
        padding: 4px 12px;
        right: 11px;
    }
    .community-slider.owl-theme .owl-nav {
        margin-top: 41px;
    }
  
    h1 {
        font-size: 23px !important;
    }
    h1.fill-text {
        display: none;
    }
    .main-banner:before {
        display: none;
    }
    .banner-content h1 {
        padding-bottom: 14%;
        font-size: 22px !important;
        line-height: 30px;
    }
    .main-banner .owl-nav button {
        width: 63px !important;
        height: 52px !important;
    }
    
    .count-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    section.about-banner:before {
        background-size: 23%;
    }
    section.about-banner:after {
        background-size: 23%;
    }
    .about-banner-cont .habi-hous {
        width: 76%;
    }
    .navbar-brand img {
        width: 73%;
    }
    header.main-header {
        padding: 5px 0;
    }
    .name-box:after{
        display: none;
    }
    .financial-slider-area {
        padding: 44px 0 30px;
    }
    .audit-box {
        padding: 27px 14px;
    }
    .finacial-statement-banner .slick-prev {
        left: 31px;
    }
    .finacial-statement-banner .slick-next {
        right: -30px;
    }
    .our-mission-area .missio-content h3 br {
        display: none;
    }
    section.other-ways-area {
        overflow: hidden;
    }
    .mission-left {
        width: 79%;
        position: relative;
        margin: 0 auto;
    }
    .green-af:before {
        left: 0;
    }
    .green-af::after {
        left: 0;
    }
    .purple-af:before {
        right: 0;
    }
    .purple-af::after {
        right: 0;
    }
    
}
@media (max-width:414px) {
    .navbar-brand img {
        width: 63%;
    }
    .banner-content h1 {
        padding-bottom: 20%;
        font-size: 17px !important;
        line-height: 23px;
    }
    ul.contac-det.email-details {
        display: block;
    }
    .contac-det.email-details li:nth-child(2) {
        display: none !important;
    }
    img.footerlogo {
        width: 60%;
    }
    .finacial-statement-banner .slick-prev {
        left: 22px;
    }
    .finacial-statement-banner .slick-next {
        right: -21px;
    }
    .finacial-statement-banner .slick-next, .finacial-statement-banner .slick-prev {
        width: 42px;
        height: 42px;
    }
    div#navbarSupportedContent {
        width: 109%;
    }
    .mission-left {
        width: 79%;
        position: relative;
        margin: 0 auto;
    }
    .green-af:before {
        left: 0;
    }
    .green-af::after {
        left: 0;
    }
    .purple-af:before {
        right: 0;
    }
    .purple-af::after {
        right: 0;
    }
    

    .contact-us-main .green-af:before {
        left: 15px;
    }
    .found-left .green-af:before{
        left: 41px;
        top: -15px;
        width: 13px;
    }
    .contact-us-main .green-af::after {
        left: 15px;
    }
    .found-left .green-af::after{
        left: 41px;
        top: -15px;
        height: 13px;
    }
    .contact-us-main .purple-af:before  {
        right: 15px;
    }
    .found-left .purple-af:before{
        right: 41px;
        bottom: -15px;
        width: 13px;
    }
    .contact-us-main .purple-af::after {
        right: 15px;
    }
    .found-left .purple-af::after{
        right: 41px;
        bottom: -15px;
        height: 13px;
    }
    .found-left {
        margin: 0 40px;
        display: flex;
    }
    h5 {
        font-size: 15px !important;
    }
    .grid-view-list li a {
        font-size: 14px;
        padding: 4px 29px;
    }
    section.hu-highlights {
        padding-bottom: 0;
    }
    ul.contac-det li a {
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    ul.contac-det {
        margin: 0;
    }
    section.about-theme-headin {
        padding: 41px 0 10px;
    }
}
@media (max-width:376px) {
    .main-banner .owl-nav button {
        width: 33px !important;
        height: 33px !important;
    }
    
    div#navbarSupportedContent {
        width: 110%;
    }
    .banner-content h1 {
        padding-bottom: 16%;
        font-size: 15px !important;
        line-height: 18px;
    }
    .form-news button {
        width: 31%;
        font-size: 12px;
    }
    .about-banner-cont p {
        padding: 0 2% 17px;
    }
    .gen-para p {
        padding: 0 2% 17px;
    }
    
    .found-left {
        margin: 0 40px;
        display: flex;
    }
}
@media (max-width:360px) {
    div#navbarSupportedContent {
        width: 112%;
    }
}
@media (max-width:321px) {
   
}