@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    
    scroll-behavior: smooth;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
    text-decoration: none !important;
}
@media(min-width:1200px){
    .container{
        max-width: 1170px !important;
    }
}
p{
    font-size: 14px;
    line-height: 23px;
    margin: 0 !important;
}
h1{
    font-size: 37px !important;
}
h3{
    font-size:24px !important;
}
h4{
    font-size: 22px !important;
    color: rgb(34 90 147);
}
h5 {
    font-size: 20px !important;
}
h1,h2,h3,h4,h5,h6{
   font-weight: 700 !important;
}

/* Header */
header.main-header {
    background: #fff;
    padding: 10px 0;
    box-shadow: 0 0 7px 0px #ccc;
}
header.main-header.header-sticky {
    position: fixed;
    width: 100%;
    animation: smoothScroll 1s forwards;
    background-color: #fff;
    z-index: 99;
}
.float-responsive {
    display: none;
}
.responsive-logo{
    display: none;
}
.logo a.navbar-brand {
    margin: 0 !important;
    padding: 0 !important;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.main-nav{
    justify-content: space-between !important;
    padding: 0 !important;
}
#navbarSupportedContent .dropdown-menu {
    border-radius: 0;
    padding: 0;
    width: auto;
    margin: 0;
    perspective: 1000px;
    display: none;
}


#navbarSupportedContent .dropdown-menu.show {
    display: block;
}
.dropdown_menu-6{
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  
  @keyframes growDown {
      0% {
          transform: scaleY(0);
      }
      80% {
          transform: scaleY(1.1);
      }
      100% {
          transform: scaleY(1);
      }
  }
.nav-center li.nav-item.active a.nav-link {
    color: #fff;
    font-weight: 500;
}
.nav-center .navbar-nav .nav-link {
    color: #5d2667 !important;
}


.nav-center .nav-item .nav-link:hover {
    color: #00984b !important;
    font-weight: 500;
}
.nav-center .nav-item:hover .dropdown-menu {
    display: block;
    transition: all 0.5s;
}
.nav-center .nav-item{
    transition: all 0.5s;
    position: relative;
}
.nav-center li.nav-item.active:after {
    content: '';
    bottom: 12px;
    position: absolute;
    background: #00984b;
    height: 2.5px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
#navbarSupportedContent .dropdown-menu .dropdown-item {
    padding: 7px 12px;
    border-bottom: 1px solid #ccc6;
    font-size: 14px;
}

#navbarSupportedContent .dropdown-menu .dropdown-item:hover {
    background: #00984b;
    color: #fff;
}
.nav-right-menu {
    display: flex;
    align-items: center;
}
.navbar-right-btn {
    background-color: rgb(0 152 75);
    color: white !important;
    box-shadow: 5px 5px #36183e;
    transition: 0.5s;
    padding: 7px 11px;
    transition: all .5s !important;
    font-size: 15px;
}
.navbar-right-btn img {
    width: 18px !important;
    margin-right: 5px;
}
.right-donate {
    display: flex;
    width: 145px;
}
.navbar-right-btn:hover {
    box-shadow: none;
    margin-left: 3px;
    /* margin-top: 9px; */
    transition: 0.1s;
}
.nav-center .nav-item .nav-link {
    padding: 15px 25px !important;
    transition: all 0.5s;
}
.sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    width: auto;
    display: none;
    border: 1px solid rgba(0,0,0,.15);
    z-index: 99;
}
.dropdown-menu li:hover .sub-menu {
    display: block;
}
.dropdown-menu li .sub-menu .dropdown-item{
    background-color: #fff;
}
header.main-header.header-sticky .nav-center li.nav-item.active a.nav-link {
    color: #00984b !important;
}

header.main-header.header-sticky .nav-center li.nav-item a.nav-link {
    color: #000 !important;
}
/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
}
  #nav-icon3{
    width: 34px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 77%;
    background: #00984b;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 17px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
/* Responsive Menu Bar Animation */

/* Header */



/* Main Banner */
.main-banner video {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}
.main-banner:before {
    content: 'HUF';
    position: absolute;
    top: 0;
    z-index: 999;
    font-size: 332px;
    font-weight: 700;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    transform: translateY(-50%) rotate(-90deg);
    left: -326px;
    top: 45%;
    overflow: hidden;
}
  
h1.fill-text {
    transform: translateY(-50%) rotate( 
-90deg);
    left: -157px;
    top: 45%;
    font-size: 332px !important;
    position: absolute;
    color: #00984b;
}
.main-banner {
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.main-banner.owl-theme .owl-nav {
    position: absolute;
    left: -5px;
    bottom: 2px;
    margin-top: 0 !important;
}
.main-banner button.owl-prev {
    background: #00984b !important;
}

button.owl-next {
    margin-left: 0 !important;
}
.main-banner .owl-nav button.disabled i {
    color: #fff;
}
.main-banner .owl-nav button {
    opacity: 1 !important;
    width: 101px !important;
    height: 82px !important;
    border-radius: 0 !important;
}
button.owl-prev {
}

button.owl-prev i {
    color: #fff !important;
}

button.owl-next {
    background: #fff !important;
}

button.owl-next i {
    color: #00984b !important;
}

.main-banner .owl-nav button i {
    color: #00984b;
}
.main-banner .owl-nav button.disabled {
}
.slider-item {
    position: relative;
}

.banner-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.banner-content h1 {
    padding-left: 10%;
    padding-bottom: 8%;
    color: #fff;
    font-weight: 400 !important;
    font-size: 45px !important;
    line-height: 60px;
}
.banner-content h1 span {
    font-weight: 700;
}
/* Main Banner */


/* Para Area */
.cont-strt p {
    text-align: center;
    padding-bottom: 17px;
}
section.para-cont {
    padding: 50px 0 0;
}
.hu-text {
    color: #225a93;
    font-weight: 500;
    transition: all 0.5s;
}
.hu-text:hover{
    color: rgb(191 30 45);
}
/* Para Area */


/* Our Mission */
.missio-content li {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 30px;
    display: flex;
}
.missio-content li i {
    color: #00984b;
    margin-right: 25px;
    width: 31px;
    background: #Fff;
    box-shadow: 0 0 4px 0px #d3d3d3;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 14px;
}

.missio-content li:last-child {
    padding-bottom: 0;
}
section.our-mission-area {
    padding: 60px 0;
}
.missio-content h3 {
    margin-bottom: 25px;
}
.mission-left {
    box-shadow: 0 0 23px 0px #2b2b2b80;
    padding: 15px;
}
.missio-content {
    margin-left: 13px;
}
.green-af:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    width: 15px;
    height: 50%;
    background: #00984b;
    z-index: 9;

}
.green-af::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    width: 50%;
    height: 15px;
    background: #00984b;
    z-index: 9;

}
.purple-af:before {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 15px;
    height: 50%;
    background: #461a55;
}
.purple-af::after {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 50%;
    height: 16px;
    background: #461a55;
}
/* Our Mission */

/* General Para */
.inner-genreal-para p {
    text-align: center;
}

section.genral-para {
    padding-bottom: 60px;
}
/* General Para */



/* Section Heading */
.section-heading {
    text-align: center;
}
.section-heading h1 {
    color: #461a55;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.section-heading h1 span {
    color: rgb(0 152 75);
}
/* Section Heading */


/* Counter Animation */
.count-info h3 {
    display: flex;
    font-size: 50px;
    justify-content: center;
    border-radius: 50%;
    width: 92%;
    height: 250px;
    text-align: center;
    align-items: center;
    position: relative;
    background: none;
    color: rgb(54 24 62);
    box-sizing: border-box;
    border: 0;
}
.count-info h3 span {
    font-size: 70px;
    font-weight: 400;
    position: relative;
}
.perc-sign {
    font-size: 50px !important;
    background: rgb(255 255 255);
    position: absolute !important;
    right: 3px;
    z-index: 9;
}
.anima-loa-active .loader {
    width: 247px;
    height: 247px;
    /* transform: rotate(
-90deg); */
    stroke-linecap: round;
    stroke-width: 2;
    fill: none;
}
img.header-logo {
    width: 79%;
}
.float-responsive{
    display: none;
}
.load-anim {
    position: absolute;
    top: 0;
}
.count-info h4 {
    margin: 10px 0;
    display: block;
    color: rgb(54 24 62);
    text-align: center;
}
.count-info p {
    color: #000;
    text-align: center;
}
  .anima-loa-active .loader .external-circle {
    stroke: rgb(0 152 75);
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke-dasharray: 312;
    animation: external 2s linear;
    opacity: 0.9;
  }
  @keyframes external {
    0% {
      stroke-dashoffset: 312;
    }
    100% {
      stroke-dashoffset: 612;
    }
  }
  
/* Counter Animation */



/* Foundation Certification */
.found-sec{
    padding: 78px 0;
    margin: 50px 0;
    background-color: rgb(245 251 249);
}
.foun-img{
    position: relative;
}
.found-left img {
    width: 100%;
}
.certificate-hover {
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px );
    position: absolute;
    top: 0;
    transform: scale(0);
    transform-origin: center center;
    transition: all 0.5s;
}
.found-left{
    transition: all 0.5s;
    cursor: pointer;
}
.found-left:hover .certificate-hover{
    transform: scale(1);
    transition: all 0.5s;
}
.certificate-hover img {
    width: 36px;
}

.certificate-hover {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Foundation Certification */


/* New */
.community-slider .light-box {
    height: inherit;
    margin: 0;
    box-shadow: 0 0px 14px 1px rgb(0 0 0 / 10%);
    width: 100%;
}

.community-slider .light-box:hover img {
    transform: scale(1.2);
}
.hvr-bx {
    overflow: hidden;
}

.community-slider .light-box img {
    transform: scale(1);
    transition: all 0.5s;
}
.community-slider .owl-item {
    height: 100% !important;
    display: flex;
}


.community-slider .owl-stage {
    display: flex;
    align-items: stretch;
    padding: 10px 5px;
}
.community-slider .owl-stage-outer{
    display: flex !important;
}
.light-box p{
    font-weight: 400;
    line-height: 20px;
    color: #000;
    padding: 13px 14px 0;
}
.community-slider.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #bf1e2d;
}
.community-slider.owl-theme .owl-dots .owl-dot span {
    width: 32px;
    height: 3px;
}
.community-slider {
    position: relative;
}
.community-slider button.owl-prev {
    left: -110px;
}
.community-slider button.owl-next {
    right: -110px;
}
.community-slider.owl-theme .owl-nav .disabled {
    opacity: 1 !important;
}
.community-slider button {
    position: absolute;
    border: 1px solid rgb(0 152 75) !important;
    width: 25px;
    border-radius: 0 !important;
    opacity: 1 !important;
    width: 81px !important;
    height: 72px !important;
    border-radius: 0 !important;
    top: 50%;
    transform: translateY(-50%);
}
.community-slider.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav [class*=owl-] {
    outline: none;
}
.community-slider button i {
    color: #00984b !important;
}
/* New */


/* Other Ways To contribute*/
.contri-list-data li span {
    width: 50%;
}
.padding-other {
    padding: 0 15% !important;
}
.contri-list-data li {
    display: flex;
    padding-bottom: 7px;
    font-size: 14px;
}

.contri-list-data li span:first-child {
    width: 44%;
}
.contri-box h5{
    position: relative;
}
.contri-box h5:after {
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    background: rgb(70 26 85);
    content: '';
    left: 0;
}
.contri-box h5{
    font-size: 18px;
    color: #00984b;
    margin-bottom: 35px;
}
.contri-box a.navbar-right-btn {
    margin-top: 15px;
    display: table;
}
.other-ways-area .row .col-lg-3:nth-child(1) .contri-box:before{
    content: '01';
}
.other-ways-area .row .col-lg-3:nth-child(2) .contri-box:before{
    content: '02';
}
.other-ways-area .row .col-lg-3:nth-child(3) .contri-box:before{
    content: '03';
}
.other-ways-area .row .col-lg-3:nth-child(4) .contri-box:before{
    content: '04';
}
.contri-box:before {
    position: absolute;
    top: -58px;
    left: -24px;
    font-size: 97px;
    color: #461a55;
    opacity: 0.1;
    font-weight: 500;
}
section.other-ways-area {
    background-color: #f5fbf9;
    padding: 50px 0 20px;
    margin-top: 15px;
}
/* Other Ways To contribute*/



/* footer */
footer {
    background: #461a55;
    padding: 56px 0 10px;
    position: relative;
    overflow: hidden;
}
.main-footer::after {
    content: '';
    position: absolute;
    bottom: -15px;
    background-image: url(../img/footerbefore.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    right: 0;
    background-position: bottom right;
    pointer-events: none;
    background-size: 22%;
}
ul.socail-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 19px;
}
.social-links li {
    margin-right: 29px;
    display: flex;
    align-items: center;
}

.hul-foot-cont p {
    color: rgb(255 255 255);
    padding: 24px 0;
    font-size: 12px;
    line-height: 20px;
    padding-right: 10%;
}

.footer-right h5 {
    font-size: 20px;
    color: rgb(255 255 255);
    padding-bottom: 8px;
}


ul.contac-det {
    display: block;
}
.contac-det li {
    line-height: 35px;
}
ul.contac-det.email-details {
    display: flex;
    margin: 0;
}
ul.contac-det.email-details li:nth-child(2) {
    padding: 0 20px;
    display: table;
    color: rgb(255 255 255);
}

ul.contac-det li a {
    color: rgb(255 255 255);
    font-size: 16px;
}

.socail-list li {
    margin: 0 10px;
}

.socail-list li:first-child {
    margin-left: 0;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu h5 {
    color: rgb(255 255 255);
    font-size: 16px;
    position: relative;
    margin-bottom: 15px;
}

.news-letter-area > h5 {
    font-size: 20px;
    color: rgb(255 255 255);
    padding-bottom: 10px;
}

.menu-foot li a {
    font-size: 16px;
    color: rgb(255 255 255);
    padding: 1px 0;
    display: table;
}

.footer-menu h5:after {
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: -11px;
    background: rgb(0 152 75);
    content: '';
    left: 0;
}
.form-news input.form-control {
    width: 75%;
    height: 52px;
    border: transparent;
    border-radius: 0;
}

.form-news {
    display: flex;
    width: 84%;
}

.form-news button {
    width: 25%;
    padding: 12px 0;
    border: 1px solid transparent;
    background: rgb(0 152 75);
    color: rgb(255 255 255);
    transition: all 0.5s;
    font-size: 18px;
}
/* .form-news button:hover {
    background: rgb(255 255 255);
    color: rgb(191 30 45);
    border-left: 1px solid rgb(191 30 45);
} */

.news-form {
    padding-bottom: 43px;
}
p.copyright {
    text-align: center;
    color: rgb(255 255 255);
    font-size: 13px;
}
.owl-carousel{
    margin: 0 !important;
}
ul.contac-det li a img {
    margin-right: 5px;
}
.footer-right p {
    color: #fff;
}
.addres-box {
    padding-bottom: 25px
;
}
/* Footer */

/* ABOUT PAGE */
.about-banner-cont {
    text-align: center;
}

.about-banner-cont .habi-hous {
    margin-bottom: 20px;
}

.about-banner-cont p {
    padding: 0 10% 17px;
}

.about-banner-cont h3 {
    color: #36183e;
    margin: 26px 0 20px;
}
section.about-banner {
    background-color: rgb(245 245 245);
    padding: 55px 0;
    position: relative;
}
section.about-banner:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background: url(../img/about/banner-before.png);
    background-size: 14%;
    background-repeat: no-repeat;
    height: 100%;
    top: 0;
    background-position: left top;
    z-index: 0;
    pointer-events: none;
}

section.about-banner:after {
    content: '';
    position: absolute;
    width: 100%;
    background: url(../img/about/banner-after.png);
    background-size: 14%;
    background-repeat: no-repeat;
    height: 100%;
    bottom: 0;
    right: 0;
    background-position: right bottom;
    z-index: 0;
    pointer-events: none;
}
.habib-abou-cont > p {
    font-size: 16px;
}
.gen-para p {
    padding: 0 10% 17px;
}
.habib-abou-cont > p {
    font-size: 16px;
    padding-bottom: 10px;
}

.gen-para p {
    padding: 0 10% 17px;
}

.habib-abou-cont h5 {
    margin: 36px 0 15px;
}
section.about-habibs {
    padding: 50px 0;
}
.our-mission-area .missio-content p {
    padding-bottom: 17px;
}
.ceo-detail {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: left;
    padding: 0 10%;
}
.about-theme-mis h4{
    font-weight: 500 !important;
    color: #000;
}
section.about-theme-headin {
    padding: 41px 0 0;
}
/* ABOUT PAGE */

/* BOARD OF DIRECTORS */
.name-box {
    text-align: center;
}
.nam-row-margin{
    margin: 50px 0 !important;
}

.name-box:after {
    height: 100%;
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    content: '';
}
.nam-row-margin .col-lg-4:last-child .name-box::after {
    display: none;
}
/* BOARD OF DIRECTORS */


/* FINANCIAL STATEMENT PAGE */
.finacial-statement-banner .section-heading h1 {
    color: #461a55;
}

body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
  }
  
  .sld-wrp {
    width: 800px;
    margin: 0 auto;
  }
  
  .slider-for {
    position: relative;
    z-index: 10;
    margin-top: 32px;
  }
  
  .slide-container {
    background-color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
    display: flex !important;
    justify-content: center;
    opacity: 0.5;
}

  .audit-box {
    display: flex;
    align-items: center;
    padding: 14px 14px;
    box-shadow: 0 0 9px 1px #cccccc70;
}
.slide-container.slick-slide.slick-current.slick-active.slick-center .audit-box {
    border: 1px solid #461a55;
}
.audit-box h3 {
    font-size: 18px !important;
    margin: 0;
}

.audit-box .view-more {
    font-size: 15px;
    font-weight: 400;
    padding: 6px 29px;
    margin-left: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #00984b;
    color: #00984b;
}
  
  .slide-btn {
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    color: #ccc;
    font-weight: 400;
    position: relative;
    font-size: 18px;
}

.slide-btn.slick-slide.slick-current.slick-active.slick-center {
    color: #461a55;
    font-weight: 700;
}
/* .slider-nav{
    border-bottom: 1px solid #ccc;
}  */
.finacial-statement-banner .slick-next {
    right: 0;
    top: -17px;
    font-size: 0;
}
.finacial-statement-banner .slick-prev {
    left: 60px;
    top: -17px;
    color: #ffffff;
    background-color: #00984b;
}

.finacial-statement-banner .slick-next, .finacial-statement-banner .slick-prev {
    color: #fff;
    background-color: #00984b;
    border-radius: 0px;
    font-size: 0;
    width: 60px;
    height: 54px;
    z-index: 999;
}
.finacial-statement-banner .slick-next:before {
    content: '>';
    font-size: 20px;
}
.finacial-statement-banner .slick-prev:before {
    content: '<';
    font-size: 20px;
}
.slide-container.slick-slide.slick-current.slick-active.slick-center {
    margin: 20px 50px;
    opacity: 1;
}

.slider-nav:after {
    content: '';
    background-image: url(../img/highlighter.svg);
    width: 172px;
    height: 27px;
    position: absolute;
    bottom: -29px;
    z-index: 99;
    left: 49.5%;
    transform: translateX(-51.5%);
}
.financial-slider-area {
    padding: 110px 0 30px;
}
.financial-slider-area .slick-next:focus,.financial-slider-area .slick-next:hover,.financial-slider-area .slick-prev:focus, .financial-slider-area .slick-prev:hover {
    color: #00984b;
    outline: 0;
    background: #fff;
    border: 1px solid #00984b;
}
section.finacial-statement-banner {
    padding-top: 25px;
}
/* FINANCIAL STATEMENT PAGE */


/* Contact Pages CSS */
.contact-us-main {
    padding-top: 25px;
}
.contact-us-main .section-heading p {
    padding: 0 26%;
}
.contact-us-main .section-heading p strong{
    color: #5d2667;
}
.contact-details {
    padding: 40px 8%;
    box-shadow: 0 0 23px 0px #2b2b2b80;
}
.contact-us-main .section-heading {
    padding-bottom: 57px;
}

section.contact-us-main {
    padding-bottom: 76px;
}
.addres-box.last-item{
    padding-bottom: 0;
}
.contact-details h5 {
    color: #461a55;
}
.contact-details .addres-box img {
    margin-top: 6px;
}
.contact-details .addres-box {
    display: flex;
    align-items: flex-start;
}

.contact-details .green-af::after {
    width: calc(29% - 44.19px);
}
.contact-details .purple-af::after {
    width: calc(29% - 44.19px);
}
